<div class="console-wrapper">

  <app-white-rabbit-scan-data-console style="width: 100%" [params]="params"
                                      (finish)="onFinish($event.status, $event.payload)"></app-white-rabbit-scan-data-console>

  <ng-container [ngSwitch]="status">
    <div *ngSwitchCase="0" class="console-wrapper__action">
      <button class="console-wrapper__action-abort"
              (click)="onAbortAndCancel()">Abort and cancel
      </button>
    </div>

    <div *ngSwitchCase="1" class="console-wrapper__action">
      <button class="console-wrapper__action-back cancel"
              (click)="onBack()">Back
      </button>
      <button class="console-wrapper__action-save confirm"
              (click)="onSaveReport()">Save report
      </button>
      <button class="console-wrapper__action-link confirm"
              (click)="onUploadReport()">Link tables
      </button>
    </div>

    <div *ngSwitchCase="2" class="console-wrapper__action close">
      <button class="console-wrapper__action-back cancel"
              (click)="onBack()">Back
      </button>

      <button class="console-wrapper__action-back confirm"
              (click)="onClose()">Close
      </button>
    </div>
  </ng-container>
</div>
