<div class="match-score-grid">
  <div class="grid-wrapper">
    <table class="grid"
           cdk-table
           [dataSource]="data"
           [style.height]="height">

      <ng-container cdkColumnDef="__select__" sticky>
        <th class="column cell select-cell" cdk-header-cell *cdkHeaderCellDef>
          <app-grid-checkbox [checked]="checkedAll" (click)="selectAll()"></app-grid-checkbox>
        </th>

        <td class="cell select-cell sticky-cell" cdk-cell *cdkCellDef="let row">
          <app-grid-checkbox [checked]="row.selected" (click)="select(row)"></app-grid-checkbox>
        </td>
      </ng-container>

      <ng-container *ngFor="let sourceColumn of sourceColumns"
                    [cdkColumnDef]="sourceColumn.field">
        <th class="column cell" cdk-header-cell *cdkHeaderCellDef>
          {{sourceColumn.name}}
        </th>

        <td class="cell" cdk-cell *cdkCellDef="let codeMapping">
          {{codeMapping.sourceConcept[sourceColumn.field]}}
        </td>
      </ng-container>

<!--      <ng-container *ngFor="let targetColumn of targetColumns"-->
<!--                    [cdkColumnDef]="targetColumn.field">-->
<!--        <th class="column cell" cdk-header-cell *cdkHeaderCellDef>-->
<!--          {{targetColumn.name}}-->
<!--        </th>-->

<!--        <td class="cell" cdk-cell *cdkCellDef="let codeMapping">-->
<!--          {{codeMapping.targetConcept[targetColumn.field]}}-->
<!--        </td>-->
<!--      </ng-container>-->

      <ng-container [cdkColumnDef]="matchScoreColumn.field">
        <th class="column cell match-score-column" cdk-header-cell *cdkHeaderCellDef>
          {{matchScoreColumn.name}}
        </th>

        <td class="cell match-score-cell" cdk-cell *cdkCellDef="let codeMapping">
          {{codeMapping[matchScoreColumn.field]}}
        </td>
      </ng-container>

      <ng-container matColumnDef="conceptId">
        <th class="column cell" mat-header-cell *matHeaderCellDef>Concept ID</th>
        <td class="cell sticky-cell" mat-cell *matCellDef="let codeMapping">{{codeMapping.targetConcept.conceptId}}</td>
      </ng-container>

      <ng-container matColumnDef="conceptName">
        <th class="column cell" mat-header-cell *matHeaderCellDef>Concept Name</th>
        <td class="cell sticky-cell" mat-cell *matCellDef="let codeMapping">{{codeMapping.targetConcept.conceptName}}</td>
      </ng-container>

      <ng-container matColumnDef="domain">
        <th class="column cell" mat-header-cell *matHeaderCellDef>Domain</th>
        <td class="cell sticky-cell" mat-cell *matCellDef="let codeMapping">{{codeMapping.targetConcept.domain}}</td>
      </ng-container>

      <ng-container matColumnDef="conceptClass">
        <th class="column cell" mat-header-cell *matHeaderCellDef>Concept Class</th>
        <td class="cell sticky-cell" mat-cell *matCellDef="let codeMapping">{{codeMapping.targetConcept.conceptClass}}</td>
      </ng-container>

      <ng-container matColumnDef="vocabulary">
        <th class="column cell" mat-header-cell *matHeaderCellDef>Vocabulary</th>
        <td class="cell sticky-cell" mat-cell *matCellDef="let codeMapping">{{codeMapping.targetConcept.vocabulary}}</td>
      </ng-container>

      <ng-container matColumnDef="conceptCode">
        <th class="column cell" mat-header-cell *matHeaderCellDef>Concept Code</th>
        <td class="cell sticky-cell" mat-cell *matCellDef="let codeMapping">{{codeMapping.targetConcept.conceptCode}}</td>
      </ng-container>

      <ng-container matColumnDef="standardCode" stickyEnd>
        <th class="column cell" mat-header-cell *matHeaderCellDef>Standard Code</th>
        <td class="cell sticky-cell" mat-cell *matCellDef="let codeMapping">{{codeMapping.targetConcept.standardCode}}</td>
      </ng-container>

      <tr class="row header" cdk-header-row *cdkHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr class="row" cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div *ngIf="loading" class="ui-blocker">
      <mat-spinner></mat-spinner>
    </div>
  </div>

  <div *ngIf="false" class="grid-select">
    <mat-icon class="grid-select__edit-icon" svgIcon="edit"></mat-icon>
  </div>
</div>
